
  <div class="dialog-container">
    <h2 class="animate-hover">About Me</h2>
    <div class="image-animation">
        <img src="./../../../assets/img/navbar/textanimation/1.png" alt="First Image 1">
        <img src="./../../../assets/img/navbar/textanimation/2.png" alt="First Image 2">
        <img src="./../../../assets/img/navbar/textanimation/3.png" alt="First Image 3">
      </div>
    <h2 class="animate-hover">My skills</h2>
    <div class="image-animation">
        <img src="./../../../assets/img/navbar/textanimation/1.png" alt="First Image 1">
        <img src="./../../../assets/img/navbar/textanimation/2.png" alt="First Image 2">
        <img src="./../../../assets/img/navbar/textanimation/3.png" alt="First Image 3">
      </div>
    <h2 class="animate-hover">Portfolio</h2>
    <div class="image-animation">
        <img src="./../../../assets/img/navbar/textanimation/1.png" alt="First Image 1">
        <img src="./../../../assets/img/navbar/textanimation/2.png" alt="First Image 2">
        <img src="./../../../assets/img/navbar/textanimation/3.png" alt="First Image 3">
      </div>
  </div>
  