.navbar {
    position: fixed;
    right: 0vw;
    left: 0vw;
    top: 0;
    height: 92px;
    background-color: #fffcf2;
    z-index: 10;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.lndingpage {
    display: flex;
    flex-direction: column;
    height: fit-content;
}


.landingtext {
    max-width: 1440px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;

    >h1 {
        font-family: 'syne';
        font-weight: 800;
        font-size: 128px;
        margin-bottom: -50px;
    }
}

.h1margin {
    margin-top: 0;
}

.nameArea {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    
    >img {
        height: 3px;
    }

    >h3 {
        font-family: 'overpass';
        color: #00BC8F;
        font-size: 48px;
        font-weight: 700;
    }
}

.scrollDownArea {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20vh;
}

.email {
    color: black;
    transform: rotate(270deg);
    font-size: 22px;
    margin-left: 20px;
}

.scrollDown {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

@media screen and (max-width: 1075px) {
    .landingtext{
        padding-top: 100px;
    >h1 {
        font-size: 100px;
        margin-top: 10px;
    }}

}


@media screen and (max-width: 880px) {
    .landingtext{
    >h1 {
        font-size: 80px;
        margin-bottom: -40px;
    }}
    .nameArea {
        padding-top: 50px;
        flex-direction: column;
        gap: 0;

        >h3 {
            margin-top: 10px;
        }
    }
}

@media screen and (max-width: 700px) {
    .landingtext{
        >h1 {
            font-size: 70px;
            margin-bottom: -35px;
        }}
}

@media screen and (max-width: 620px) {
    .landingtext{
        >h1 {
            font-size: 60px;
            margin-bottom: -30px;
        }}

        .scrollDownArea {
            align-items: normal;
        }
}

@media screen and (max-width: 430px) {

    .landingtext{
        >h1 {
            font-size: 32px;
            margin-bottom: -20px;
        }}
        .nameArea {
            padding-top: 50px;
            flex-direction: column;
            gap: 0;
    
            >h3 {
                font-size: 30px;
            }
        }

        .nameArea {
            >img {
                display: none;
            }
        }
}