<div class="content">
<section>
    <h1>About me</h1>
    <span>I am a Front-end deverloper based in München, Germany. 
        I help designers and companies to bring  their ideas to 
        real life.  Creativity and logical thinking are skills 
        that I have developed to connect ideas into quality products. 
        <br> If you think I’d be a good match for your projects, 
        contact me!</span>

    <div class="btn">
        <p>Let´s talk</p>
    </div>
</section>

<img src="./../../../assets/img/profil/profilImg.JPG" alt="">
</div>

<div class="arrow">
    <img src="./../../../assets/img/arrowLeft.png" alt="">
</div>

