<section>
  <div class="header">
    <h1>Portfolio</h1>
    <span class="text-header"
      >Explore a selection of my work here - Interact with projects to see my
      skills in action.</span
    >
  </div>
</section>
<section>
  <div class="projektarea">
    <div>
      <img src="./../../../assets/img/portfolio/join.png" alt="" />
    </div>
    <div class="description">
      <h2>Join</h2>
      <span class="text_green">JavaScript | HTML | CSS
    </span>
      <span class="text">A task management board inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories.
    </span>
      <div class="btn">
        <button><a href="">Visit Projekt</a></button>
        <button>Github</button>
      </div>
    </div>
  </div>
  <div class="projektarea-reverse">
    <div class="description">
      <h2>El Pollo Loco
    </h2>
      <span class="text_green">JavaScript | OOP | HTML | CSS
    </span>
      <span class="text">A simple Jump-and-Run game based on an object-oriented approach. Help Pepe against the evil killer chicken.</span>
      <div class="btn">
        <button>Visit Projekt</button>
        <button>Github</button>
      </div>
    </div>
    <div>
      <img src="./../../../assets/img/portfolio/elpollo.png" alt="" />
    </div>
  </div>
  <div class="projektarea">
    <div>
      <img src="./../../../assets/img/portfolio/Pokédex.png" alt="" />
    </div>
    <div class="description">
      <h2>Pokédex</h2>
      <span class="text_green">JavaScript | HTML | CSS | API
    </span>
      <span class="text">Based on the PokéAPI a simple library that provides and catalogues pokémon information.
    </span>
      <div class="btn">
        <button>Visit Projekt</button>
        <button>Github</button>
      </div>
    </div>
  </div>
</section>
<!-- <div class="arrow">
    <img src="./../../../assets/img/arrowLeft.png" alt="">
  </div> -->
